@charset "utf-8";

body {
	padding: 0;
    margin: 0;
    background-color:#777777;
}
#header{
    background: #add9e4; 
    background: -moz-linear-gradient(top,  #add9e4 0%, #d8f0f4 97%); 
    background: -webkit-linear-gradient(top,  #add9e4 0%,#d8f0f4 97%); 
    background: linear-gradient(to bottom,  #add9e4 0%,#d8f0f4 97%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#d8f0f4',GradientType=0 );
    margin-bottom:0px;
    height:100px;
    color:#027DA3;
    font-size:26px;
    font-family:Segoe Script;
    text-align: center;
    padding-top:5px
}
#page{
    background-color:#EEEEEE;
    height:1860px;
    width:40%;
    float:left
}
#content{
    background: 
		url(images/1.png) no-repeat 0 0;
    background-size:cover;
    height:1860px;
    width:60%;
    float:left
}
#footer{
   background-color:#027DA3;
   text-align:center;
   color:#add9e4;
   font-size: 16px
}

#header a{
    color: #027DA3;
    font-size: 66px;
    text-decoration: none
}
#footer a{
    color: #add9e4;
    font-size: 16px;
    text-decoration: none
}

.colorBlock{
    text-align: center;
    width:90% ;
    height:300px;
    margin-left:5%;
    color:white;
    font-family: 微软雅黑;
    font-size :22px
}
.colorBlock #red{
    background: 
		url(images/c1.png);
    background-size:cover;
    padding-top:68px
}
.colorBlock #green{
    background: 
		url(images/c2.png);
    background-size:cover;
    padding-top:68px
}
.colorBlock #yellow{
    background: 
		url(images/c3.png);
    background-size:cover;
    padding-top:68px
}
.colorBlock #blue{
    background: 
		url(images/c4.png);
    background-size:cover;
    padding-top:68px
}

.colorBlock a{
    color:#ffffff;
    font-size: 22px;
    text-decoration: none
}

table{
    margin:0px auto
}
table td{
    vertical-align:top; 
    text-align:left
}
